:root {
	--fg-color: #ddd;
	--bg-color: #112;
	--bg-color-secondary: #32324e;
}

html {
    overflow-y: scroll;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--fg-color);
	background: var(--bg-color);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;	
}

a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
